{% block body %}
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #35c618;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #add794;
        }
    </style>
    </head>
    <body>

    <h2>ReMaS Superior Waste Recycling</h2>

    <table>
        <tr>
            <td> ID </td>
            <td> Naam </td>
            <td> Omschrijving </td>
            <td> Vergoeding </td>
            <td> GewichtGram </td>
        </tr>
        <tr>
            <td>{{ apparaten.id }}</td>
            <td>{{ apparaten.Naam }}</td>
            <td>{{ apparaten.Omschrijving }}</td>
            <td>€{{ apparaten.Vergoeding }}</td>
            <td>{{ apparaten.GewichtGram }}</td>
        </tr>

    </table>
{% endblock %}